:root {
  --black: #000000;
  --black-sl: #323232;
  --black-box: #726e6e;
  --pink: #ff1e56;
  --yellow: #ffac41;
  --white: #fff;
  --white-sl: #cedebd;
  --facebook: #005086;
  --dribble: #e7305b;
  --github: #f7f5dd;
  --linkdin: #0a97b0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: var(--white-sl);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: var(--black);
}

.logo {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.logo span {
  font-size: 22px;
  color: var(--pink);
}

.logo span strong {
  color: var(--yellow);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav-links a {
  text-decoration: none;
  color: var(--white-sl);
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
}

.burger {
  display: none;
}

.burger div {
  transition: all 0.3s ease;
}

.burger .line-1 {
  width: 30px;
  height: 3px;
  background-color: var(--pink);
  margin: 5px;
}

.burger .line-2 {
  width: 20px;
  height: 3px;
  background-color: var(--yellow);
  margin: 5px;
}

.burger .line-3 {
  width: 30px;
  height: 3px;
  background-color: var(--pink);
  margin: 5px;
}

.social-icon {
  display: none;
}

@media screen and (max-width: 981px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    z-index: 1000;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.5s ease-in;
    opacity: 0.8;
    overflow: hidden;
    opacity: 0;
    display: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 10px solid var(--pink);
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .social-icon {
    display: flex;
    flex-direction: row;
  }

  .social-icon div a {
    margin: 3px;
    font-size: 25px;
  }

  .facebook a {
    color: var(--facebook);
  }

  .dribble a {
    color: var(--dribble);
  }

  .github a {
    color: var(--github);
  }

  .linkedin a {
    color: var(--linkdin);
  }
}

.nav-active {
  transform: translateY(0%);
  opacity: 0.8;
  display: flex;
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-2 {
  opacity: 0;
}

.toggle .line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}




/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  z-index: 1;
  width: 100%;
  height: 80vh;
  background: #2980b9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #2980b9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  background-size: cover;
  position: relative;
  padding: 0;
}

#hero:before {
  content: "";
  background: var(--black);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0.8rem;
}

#hero h1 span {
  color: var(--pink);
}

#hero h1 span strong {
  color: var(--yellow);
}

#hero h5 {
  color: var(--white-sl);
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  padding: 10px 35px 10px 35px;
  border-radius: 25px;
  transition: 0.5s;
  color: #fff;
  background: var(--pink);
  border: 2px solid var(--yellow);
}

#hero .btn-get-started:hover {
  text-decoration: none;
  border-color: var(--yellow);
  background: transparent;
}

#hero .btn-get-started:focus {
  text-decoration: none;
  border-color: var(--yellow);
  background: transparent;
}



@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*main part*/
.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
  width: 128px;
}

.notification {
  margin-top: 20px !important;
}

.results {
  max-height: 500px;
  overflow-y: scroll;
}

.title .icon {
  margin-left: 15px;
}

.hero {
  margin-bottom: 20px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}

.content h1 {
  color: var(--yellow);
}

.boxer {
  margin: 70px;
  -webkit-box-shadow: 0px 0px 20px 1px var(var(--black-box));
  -moz-box-shadow: 0px 0px 20px 1px var(--black-box);
  box-shadow: 0px 0px 20px 1px var(--black-box);
}

.input-label {
  text-align: center;
  color: var(--white-sl);
}